.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 135px;
  border-bottom: 1px solid var(--grayish-blue);
}

.header__menu {
  border: none;
  display: none;
  background-color: var(--white);
}

.header__menu::before {
  content: url("../../../../assets/images/icon-menu.svg");
  filter: brightness(0) saturate(100%);
  cursor: pointer;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 50px;
  cursor: pointer;

  .header__logo {
    margin-right: 70px;
    font-weight: 700;
  }

  .header__item {
    padding-top: 7px;
    line-height: 124px;
    color: var(--grayish-blue);
    border-bottom: 5px solid transparent;
  }

  .header__item:hover {
    color: var(--black);
    border-bottom: 5px solid var(--orange);
  }
}
//* ACTIVE
/* .header .header__list :nth-child(4) {
  border-bottom: 5px solid var(--orange);
} */

.header__shop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

  .header__icon,
  .header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header__picture {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.header_cart {
  border: none;
  background-color: var(--white);
}

.header_cart::before {
  content: url("../../../../assets/images/icon-cart.svg");
  font-weight: 700;
  cursor: pointer;
}

.header_cart:hover::before {
  filter: brightness(0.1);
}

.header__picture:hover {
  border: 2px solid var(--orange);
}

//* CARRITO

.cart {
  position: relative;
}

.cart__popup {
  width: 320px;
  height: 200px;
  position: absolute;
  right: -80px;
  top: 50px;
  z-index: 1;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: -4px 9px 85px -34px rgba(0, 0, 0, 0.75);
}

.not-visible {
  display: none;
}

//* MENU LATERAL

.menu__backdrop {
  --black: hsl(0, 0%, 0%, 75%);
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu {
  background-color: var(--white);
  position: absolute;
  width: 50%;
  min-width: 200px;
  padding: 25px;
  height: 100vh;
}

.menu__list {
  list-style: none;
}

.menu__item {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu__close {
  cursor: pointer;
  border: none;
  background-color: var(--white);
  margin-bottom: 30px;
}

.menu__close::before {
  content: url("../../../../assets/images/icon-close.svg");
}

@media screen and (max-width: 875px) {
  .header__item {
    display: none;
  }

  .header__list {
    gap: 18px;
  }

  .header__menu {
    display: inline;
  }
}

@media screen and (max-width: 610px) {
  .header {
    border-bottom: none;
  }

  .cart {
    position: static;
  }

  .cart__popup {
    top: 180px;
    left: -81px;
    width: 90%;
    height: 250px;
    margin: 0 auto;
  }
}
