.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 130px;
  position: relative;
}

.product__picture {
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  cursor: pointer;

  .product__img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.product__carousel {
  width: 430px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  .product__picture__item {
    display: block;
    width: 80px;
    height: 80px;
  }

  .product__img__item {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
  }

  .product__img__item:hover {
    filter: grayscale(0.8) contrast(0.4) saturate(3) brightness(1.6);
  }
}

.active__border {
  border: 2px solid var(--orange);
  border-radius: 8px;
}

.active__img {
  filter: grayscale(0.8) contrast(0.4) saturate(3) brightness(1.6);
}

//*  BOTONES
.product__btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.product__prev {
  display: none;
  position: absolute;
  left: 0;
}

.product__next {
  display: none;
  position: absolute;
  right: 0;
}

.product__next::before {
  content: url("../../../../assets/images/icon-next.svg");
}

.product__prev::before {
  content: url("../../../../assets/images/icon-previous.svg");
}

.product__prev:hover::before,
.product__next:hover::before {
  //* COLOR ORANGE
  filter: brightness(0) saturate(100%) invert(51%) sepia(83%) saturate(938%)
    hue-rotate(345deg) brightness(98%) contrast(106%);
}

.product__popup {
  --black: hsl(0, 0%, 0%, 75%);
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 610px) {
  .product {
    padding: 0;
  }

  .product__item {
    width: 100%;
  }

  .product__carousel {
    display: none;
  }

  .product__picture,
  .product__carousel {
    width: 100%;
    height: 350px;
  }
  .product__picture {
    .product__img {
      border-radius: 0;
      object-fit: cover;
    }
  }

  .product__prev,
  .product__next {
    display: inline-block;
  }
}
