<section class="product">
  <picture class="product__picture" (click)="expand()">
    <img [src]="urlImage | imagen" alt="" class="product__img" />
  </picture>
  <div class="product__carousel">
    <picture
      class="product__picture__item"
      *ngFor="let item of productosImg"
      [ngClass]="{ active__border: item.active }"
      (click)="selected(item.name)"
    >
      <img
        [src]="item.name | imagen"
        alt="Product"
        [ngClass]="{ active__img: item.active }"
        class="product__img__item"
      />
    </picture>
  </div>
</section>

<ng-container *ngIf="popupProduct">
  <app-popup-product></app-popup-product>
</ng-container>
