app-menu,
app-product {
  display: block;
}

.section {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.section__img,
.section__description {
  width: 100%;
}

@media screen and (max-width: 1117px) {
  .section {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 610px) {
  .section {
    margin: 0;
  }

  .section__img {
    margin: 0 !important;
  }
}
