<section class="cart">
  <div class="cart__title">Cart</div>
  <article class="cart___list">
    <div class="cart__item">
      <img
        src="../../../../assets/images/image-product-1-thumbnail.jpg"
        alt="Product"
        class="cart__img"
      />
      <div class="cart__description">
        <p class="cart__product" title="Fall Limited Edition Sneakers">
          Fall Limited Edition Sneakers
        </p>
        <span class="cart__price">$125.00 x 3 </span>
        <strong class="cart__total">$375.00</strong>
      </div>
      <button class="cart__delete" title="Delete"></button>
    </div>
  </article>
  <button class="cart__check">Checkout</button>
</section>
